@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

ul {
  list-style-type: none;
}

body {
	font-family: "Raleway", sans-serif;
	color: #2d3c49;
	font-weight: 600;
	background: #02b3e4;
}

a {
	padding: 24px;
}

.border {
	border: 1px solid #7d97ad;
}

.margin-md {
	margin: 24px;
}

.container {
	max-width: 960px;
	margin: auto;
	padding: 50px;
	background: white;
}

.logo {
	width: 130px;
	height: 130px;
}

.text-thin {
	font-weight: 200;
}

.line {
	width: 100%;
	height: 4px;
	margin-bottom: 30px;
	background: #7d97ad;
}

.work-title {
	font-size: 30px;
    margin: 40px 15px 5px 5px;
	color: #7d97ad;
	font-weight: 600;
}

.text-center {
    text-align: center;
}

.font-big {
	font-size: 35px;
	margin: 40px 5px 5px 5px;
}

@media screen and (max-width: 992px) {
   	.media-center {
   		text-align: center;
    }

    img {
    	width: 100%;
    }

	.font-big {
		margin: 5px;
	}

	.work-title {
		text-align: center;
	}

    .center {
     	display: block;
   		margin-left: auto;
    	margin-right: auto;
    }
 }
